body {
    color: #b973d8;
    background-color: whitesmoke;
}
a {
    color: #9a99f2;
}
h1, h2 {
    color: #92b2f7;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
nav {
    background-color: #e1d8f8;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}
nav a {
    color: #6f46a6;
}
nav a:hover {
    color: #8b79d9;
}
table {
    border: 1px solid #6f46a6;
    border-collapse: collapse;
    width: 100%;
}

.evenrow {
    background-color: #f2e9f7;
}