body {
    margin: 0;
    font-family: sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    margin: 10px;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #a56de6;
}

h1 {
    text-align: center;
    color: #ad87d9;
    font-size: 2.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: #181818;
    color: white;
    padding: 0px;
    text-align: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    flex: 1;
}

.reviews div {
    display: flex;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    gap: 20px;
    align-items: flex-start;
}

.reviewcontent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.reviews h2 {
    font-size: 1.5rem;
    color: #a56de6;
    margin-bottom: 10px;
}

.reviews p {
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 20px;
}

.reviews .citation {
    font-style: italic;
    text-align: right;
    font-size: 0.875rem;
    color: #aaa;
    margin-top: 10px;
}

hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 5px 0;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2929;
    padding: 10px;
}

.nav-links {
    background-color: #2a2929;
    color: white;
    padding: 10px;
    margin: 0;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.nav-toggle span {
    background-color: white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

#nav-links {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 6vw;
    }

    .reviews div {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .reviews img {
        max-width: 80%;
        margin: 0 auto;
    }

    .reviewcontent {
        max-width: 100%;
    }

    .reviews h2 {
        font-size: 1.5rem;
    }

    .reviews p {
        font-size: 1rem;
    }

    .reviews .citation {
        font-size: 0.8rem;
    }

    .nav-toggle {
        display: flex;
        margin: 10px;
    }

    .connect {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 20px 0;
    }

    #nav-links.show {
        display: flex;
    }
}